@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


/* Body and header*/
body
{font-family: 'Poppins', sans-serif;}
.register
{background-color:#FFF; color: #000!important; border-radius: 30px; border: 2px solid #FFF!important;}
.register:hover
{background-color:transparent; color: #FFF!important; border-radius: 30px; border: 2px solid #FFF!important;}
.nav-link
{ color: #000!important;font-weight: 600;}
nav.bg-light
{background-color: #ffffff!important;}
.nav-link:hover
{ background: linear-gradient(45deg, #02bfff, #376fff);color: #FFF!important;}
.nav-link:active
{ background: linear-gradient(45deg, #02bfff, #376fff);color: #FFF!important;}

/* Job apply page*/
.job-banner
{background: url('/assets/images/job-portal-banner.png')no-repeat; height: 600px;width: 100%;}
.job-banner .banner-text
{position: relative;top: 36%;font-family: 'Poppins', sans-serif; }
.banner-text .banner-font
{ font-weight: bold; font-size: 50px!important;}
.form-container{ width: 40%;height: auto;background-color: #FFF;padding: 20px;margin: 0 auto;}
.job-section{font-family: 'Poppins', sans-serif;}
.job-section a.job-title{text-decoration: none;}
.card-header{background: linear-gradient(45deg, #02bfff, #376fff); border: 1px solid linear-gradient(45deg, #02bfff, #376fff)!important;}
.job-salary{font-size: 30px;}
.reg-popup{background: linear-gradient(45deg, #02bfff, #376fff); border: 1px solid linear-gradient(45deg, #02bfff, #376fff)!important;}

/*Single job page*/
.single-banner-overlay{position: absolute; width: 100%; height:350px; background: linear-gradient(45deg, #02bfff4d, #376fffc4);}
.single-post-job-banner{background: url('/assets/images/job-single-page-banner.jpg')no-repeat; height: 350px;width: 100%;}
.apply-job-back{ border: 1px solid linear-gradient(45deg, #02bfff, #376fff)!important; background-color: transparent!important; color: #2e7eff!important;}
.apply-job{background: linear-gradient(45deg, #02bfff, #376fff); border: 1px solid linear-gradient(45deg, #02bfff, #376fff)!important;}
.job-banner-text{top:30%; position: relative;}
/*Study page*/
.study-banner{background: url('/assets/images/study-banner.jpg')no-repeat; height: 600px;width: 100%;}
.study-banner .banner-text{position: relative;top: 36%;font-family: 'Poppins', sans-serif;}

/* Single Study page*/
.education-single-page{background: url('/assets/images/education-single-page.jpg')no-repeat; height: 300px;width: 100%;}
.edu-course-title{padding-top: 9rem;}
.course-badge{font-size: 74px;position: relative;bottom: 87px;}

/*Home page*/
.video-overlay{ background-color: #000000c7; position: absolute; top: 0; height: 100%;width: 100%;}
.video-overlay .video-desc{color: #FFF!important; margin-top: 70%; border: 1px solid #FFF; padding: 10px;}
.title-font{font-family: 'Poppins', sans-serif; text-align: center;}
.section-title h2:after
{content: '';border: 4px solid #376fff;width: 50px;display: block;position: absolute; margin: 0px auto; text-align: center; left: 0;right: 0;}
.three-box{background:linear-gradient(45deg, #02bfff, #376fff); width: 100%; height: auto;}
.book-reading i{font-size: 40px;}.job i{font-size: 40px;} .hosp-care i{font-size: 40px;}
.book-reading p{color: #e5e4e4;}
.hosp-care p{color: #e5e4e4;}
.job p{color: #e5e4e4;}
.about-us-text{margin-left: -8rem;}.about-us-link{ color: #2e7eff; text-decoration: none;}
.our-services{background-color: #dddddd40; width: 100%; height: auto;}
.our-services h2:after{content: ''; display: block; background: url('/assets/images/Icon_team.png') no-repeat; height: 30px;margin: 7px auto; width: 100px;}
.our-services .card{border:0px!important;border-radius: 0px; box-shadow: 2px 2px 21px #c9c9c9;}
.our-services .card:hover .doc-service i{background-color: #2e7eff; color: #FFF; transition: .2s ease-in;}
.doc-service{text-align: center;}
.our-services .doc-service i{background-color: #c6eaf7; color: #2e7eff;font-size: 43px;border-radius: 43px;height: 80px;width: 85px;text-align: center;padding: 14px;}
.our-services .doc-service h6{ font-size: 20px; font-weight: bolder;}
.counter-section{background: url('/assets/images/counter-image.jpg')no-repeat;width: 100%; height: 300px; background-attachment: fixed;}
.over-lay{position: absolute; width: 100%; height: 300px; background-color:#376fff78;}
.counter{font-size: 100px; font-weight: bolder; color: #FFF;}
.card-box{position: relative; width: 100%; top: -71px; width: 80%;left: 98px;}
.card-box .card{background: linear-gradient(45deg, #02bfff, #376fff); border: 1px solid linear-gradient(45deg, #02bfff, #376fff)!important;}
.slick-slide {margin-left:27px; height: auto!important;}.edu-btn{background: linear-gradient(45deg, #02bfff, #376fff);}
.testimonial{background: url('/assets/images/bg3.png'); width: 100%; height: 500px;} .test-image{width: 100px; height: 100px; border-radius: 50px; margin: 0 auto;}
.testi-text{margin: 0 auto;}
/* .testi-slider .prev-arrow{position :relative; width: 45px; background: #2e7eff; height: 40px; border-radius: 50px; border: 1px solid #2e7eff; top: 155px; left: -77px;}
.testi-slider .next-arrow{position :relative; width: 45px; background: #2e7eff; height: 40px; border-radius: 50px; border: 1px solid #2e7eff; right: -74rem;top: -120px; right: -82rem;} */
.dropdown:hover .dropdown-menu { display: block;margin-top: 0;}
.dropdown-menu{width: 300px!important;}
.blog-link{color: #8b8b8b;text-decoration: none;font-size: 15px;}
.job-showcasing h2::after{content: ''; display: block; background: url('/assets/images/Icon_team.png') no-repeat; height: 30px;margin: 7px auto; width: 100px;}
.education-sec h2::after{content: ''; display: block; background: url('/assets/images/Icon_team.png') no-repeat; height: 30px;margin: 7px auto; width: 100px;}
.blog-section{background: url('/assets/images/blog-bg.jpg'); width: 100%; height: auto; padding: 40px;}

.slick-next.slick-arrow{position: absolute;right: -35px;top: 156px; width: 45px; background: #2e7eff; height: 40px; border-radius: 50px; border: 1px solid #2e7eff;}
.slick-prev.slick-arrow{position: absolute; top:125px; left: -90px;width: 45px; background: #2e7eff; height: 40px; border-radius: 50px; border: 1px solid #2e7eff; }




/*about page*/
.about-banner-overlay{position: absolute; width: 100%; height: 600px; background: linear-gradient(45deg, #02bfff4d, #376fffc4);}
.about-text{margin-top: 18rem;} .who-we-are h3:after{content: ''; display: block; background: url('/assets/images/Icon_team.png') no-repeat; height: 30px;margin: 7px auto;
   width: 100px;}.about-banner{background: url('/assets/images/about-us.jpg')no-repeat; width: 100%; height:600px}


/*Contact Us*/
.contact-container{width: 100%; background-color:#FFF;height: auto; box-shadow: 10px 10px 36px 13px #80808047;}
.contact-side-box{background-color: #2e7eff; height: auto;}.btn-contact{width:50%; background: linear-gradient(45deg, #02bfff, #376fff); }
.contact-text{margin: 0 auto;}.contact-plane{font-size: 200px; color: #FFF;}.contact-icons{font-size: 25px;}


/*blog Page*/

.blog-banner-overlay{position: absolute; width: 100%; height: 300px; background-color: #00000062;}
.blog-banner
{background: url('/assets/images/blog-banner.jpg')no-repeat; width: 100%; height:300px}
.search-post-btn{background-color: transparent!important; border: none; margin-left: -41px!important;}
.small-blog-img{height: 50px;}
.blog-font{top:30%; position: relative;}
.blog-section h2::after{content: ''; display: block; background: url('/assets/images/Icon_team.png') no-repeat; height: 30px;margin: 7px auto; width: 100px;}
.recent-post-card p{margin-bottom: 0rem!important;}
.category-card p{margin-bottom: 10px!important;}

/*footer*/
footer
{width: 100%;height: auto; font-family: 'Poppins', sans-serif;}
.newsletter-btn{background:linear-gradient(45deg, #02bfff, #376fff);}
footer .footer-icons i
{font-size: 25px;color: #12a8ff;margin-top: 10px;}


/*AdminManagementpage*/
.addition-form-container{background-color: #FFF; padding: 30px; height: auto; border:1px solid rgb(229, 229, 229); }
.nav-tabs .nav-link{color: #000!important;}

.nav-tabs .nav-link:hover{color: #ffffff!important;}


::-webkit-scrollbar
{ width: 15px;}

::-webkit-scrollbar-track {background: #dadada;}

 ::-webkit-scrollbar-thumb {background: #376fff; border-radius: 10px;}

/*Media Queries*/
@media(min-width:300px) and (max-width:1200px)
{
 .counter-section
 {height: 100%;background-attachment: fixed;}

 .over-lay
 {height: 100%;}

.video
{width: 100%;height: 100%!important}
.about-us-text
{margin-left: 0rem!important;}
.about-banner-overlay{height: 100%;}
.about-banner
{ height: 100%;}

.job-banner .banner-text {position: relative;top: 20%;}
.recent-post-card p{margin-bottom: 0rem!important; margin-top: 5px;}
.form-container{width: 100%;}
.banner-text .banner-font {font-weight: bold;font-size: 45px!important;}
}

@media(min-width:1200px) and (max-width:1700px)
{
 .counter-section{ height: 100%;background-attachment: fixed;}
 .over-lay
 { height: 100%;}

.video
{width: 100%;height: 100%!important;}
.about-us-text
{margin-left: 0rem!important;}}